<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body style="padding:0px;margin:0;width:100%;height:auto;font-family:Microsoft Yahei;background:#eeeeee">
<div style="width:100%;height:45px;line-height:45px;text-align:center;background:#ebebeb;color:#7c7c7c;">
	投诉进度查询
</div>

<div style="width:95%;height:100px;margin:0 auto;background:#fff;border-radius:3px;margin-top:10px;">
	<div style="width:100%;height:45px;">
		<div style="width:6px;height:6px;border-radius:6px;background:#6d6d6d;margin-left:5px;margin-top:20px;float:left;"></div>
		<div style="height:45px;line-height:45px;color:#333333;font-size:15px;margin-left:10px;float:left;">投诉人：</div>
		<div style="height:45px;line-height:45px;color:#999999;font-size:13px;margin-right:10px;float:right;">杨先生</div>
	</div>
	<div style="width:100%;height:45px;">
		<div style="width:6px;height:6px;border-radius:6px;background:#6d6d6d;margin-left:5px;margin-top:20px;float:left;"></div>
		<div style="height:45px;line-height:45px;color:#333333;font-size:15px;margin-left:10px;float:left;">联系电话：</div>
		<div style="height:45px;line-height:45px;color:#999999;font-size:13px;margin-right:10px;float:right;">137****</div>
	</div>
</div>

<div style="width:95%;height:100px;margin:0 auto;background:#fff;border-radius:3px;margin-top:10px;">
	<div style="width:100%;height:45px;">
		<div style="width:6px;height:6px;border-radius:6px;background:#6d6d6d;margin-left:5px;margin-top:20px;float:left;"></div>
		<div style="height:45px;line-height:45px;color:#333333;font-size:15px;margin-left:10px;float:left;">投诉地点：</div>
		<div style="height:45px;line-height:45px;color:#999999;font-size:13px;margin-right:10px;float:right;">丽江古城</div>
	</div>
	<div style="width:100%;height:45px;">
		<div style="width:6px;height:6px;border-radius:6px;background:#6d6d6d;margin-left:5px;margin-top:20px;float:left;"></div>
		<div style="height:45px;line-height:45px;color:#333333;font-size:15px;margin-left:10px;float:left;">投诉商户：</div>
		<div style="height:45px;line-height:45px;color:#999999;font-size:13px;margin-right:10px;float:right;">丽江古城测试商户</div>
	</div>
</div>

<div style="width:95%;height:100px;margin:0 auto;background:#fff;border-radius:3px;margin-top:10px;">
	<div style="width:100%;height:45px;">
		<div style="width:6px;height:6px;border-radius:6px;background:#6d6d6d;margin-left:5px;margin-top:20px;float:left;"></div>
		<div style="height:45px;line-height:45px;color:#333333;font-size:15px;margin-left:10px;float:left;">事件描述：</div>
		<div style="height:45px;line-height:45px;color:#999999;font-size:13px;margin-right:10px;float:right;">卫生不达标</div>
	</div>
</div>

<div style="width:95%;height:100px;margin:0 auto;background:#fff;border-radius:3px;margin-top:10px;">
	<div style="width:100%;height:45px;">
		<div style="width:6px;height:6px;border-radius:6px;background:#ff5000;margin-left:5px;margin-top:20px;float:left;"></div>
		<div style="height:45px;line-height:45px;color:#333333;font-size:15px;margin-left:10px;float:left;">投诉已受理</div>
		<div style="height:45px;line-height:45px;color:#999999;font-size:13px;margin-right:10px;float:right;">18/02/14</div>
	</div>
</div>


<script>
</script>
</body>
</html>