<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body style="padding:0px;margin:0;width:100%;height:auto;font-family:Microsoft Yahei;background:#ffffff">
<div style="width:100%;height:45px;line-height:45px;text-align:center;background:#ebebeb;color:#7c7c7c;">
	投诉丽江测试客栈
</div>

<div style="width:200px;height:200px;margin:0 auto;margin-top:20px;">
	<img style="width:200px;height:200px;" src="../../images/test_qr_code.png"></img>
</div>
<div style="width:95%;height:43px;text-align:center;font-size:16px;margin-left:3%;margin-top:20px;color:gray">投诉完成! </div>
<div style="width:95%;height:43px;text-align:left;font-size:13px;margin-left:3%;color:gray">温馨提示：您可以保存以上二维码，通过扫描该二维码查询投诉进度 </div>


<div style="position:fixed;bottom:0px;width:100%;height:45px;line-height:45px;background:#cd2f2b;text-align:center;float:left;color:#fff;margin-top:10px;cursor:pointer;" onclick="window.open('about:blank','_self').close();">关闭</div>

<script>
</script>
</body>
</html>