<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body style="padding:0px;margin:0;width:100%;height:auto;font-family:Microsoft Yahei;background:#eeeeee">
<div style="width:100%;height:45px;line-height:45px;text-align:center;background:#ebebeb;color:#7c7c7c;">
	公允投票
</div>

<div style="width:95%;height:100px;margin:0 auto;background:#fff;border-radius:3px;margin-top:10px;">
	<div style="width:100%;height:45px;">
		<div style="width:6px;height:6px;border-radius:6px;background:#6d6d6d;margin-left:5px;margin-top:20px;float:left;"></div>
		<div style="height:45px;line-height:45px;color:#333333;font-size:15px;margin-left:10px;float:left;">投诉商户：</div>
		<div style="height:45px;line-height:45px;color:#999999;font-size:13px;margin-right:10px;float:right;">丽江古城测试商户</div>
	</div>
	<div style="width:100%;height:45px;">
		<div style="width:6px;height:6px;border-radius:6px;background:#6d6d6d;margin-left:5px;margin-top:20px;float:left;"></div>
		<div style="height:45px;line-height:45px;color:#333333;font-size:15px;margin-left:10px;float:left;">投诉地点：</div>
		<div style="height:45px;line-height:45px;color:#999999;font-size:13px;margin-right:10px;float:right;">丽江古城</div>
	</div>
</div>

<div style="width:95%;height:100px;margin:0 auto;background:#fff;border-radius:3px;margin-top:10px;">
	<div style="width:100%;height:45px;">
		<div style="width:6px;height:6px;border-radius:6px;background:#ff4442;margin-left:5px;margin-top:20px;float:left;"></div>
		<div style="height:45px;line-height:45px;color:#333333;font-size:15px;margin-left:10px;float:left;">客户对事件描述：</div>
		<div style="height:45px;line-height:45px;color:#999999;font-size:13px;margin-right:10px;float:right;">卫生不达标</div>
	</div>
</div>

<div style="width:95%;height:100px;margin:0 auto;background:#fff;border-radius:3px;margin-top:10px;">
	<div style="width:100%;height:45px;">
		<div style="width:6px;height:6px;border-radius:6px;background:#38acff;margin-left:5px;margin-top:20px;float:left;"></div>
		<div style="height:45px;line-height:45px;color:#333333;font-size:15px;margin-left:10px;float:left;">商户对事件描述：</div>
		<div style="height:45px;line-height:45px;color:#999999;font-size:13px;margin-right:10px;float:right;">客人无理取闹</div>
	</div>
</div>
<div style="width:50%;line-height:30px;height:30px;float:left;margin-top:10px;">&nbsp&nbsp&nbsp<span style="color:#ff4442">4</span>人支持顾客</div>
<div style="width:50%;line-height:30px;height:30px;float:left;text-align:right;margin-top:10px;"><span style="color:#38acff">10</span>人支持商家&nbsp&nbsp&nbsp</div>

<div style="clear:both;"></div>

<div style="width:90%;height:20px;margin:0 auto;background:url(../../images/tmp.png);background-size:100% 100%;margin-top:10px;">
</div>


<div style="position:fixed;bottom:0px;width:50%;height:45px;line-height:45px;background:#ff4442;text-align:center;float:left;color:#fff;margin-top:10px;cursor:pointer;float:left;" onclick="nextStep();">我支持顾客</div>
<div style="position:fixed;bottom:0px;left:50%;width:50%;height:45px;line-height:45px;background:#38acff;text-align:center;float:left;color:#fff;margin-top:10px;cursor:pointer;float:right;" onclick="nextStep();">我支持商家</div>
<script>
</script>
</body>
</html>