<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body style="padding:0px;margin:0;width:100%;height:auto;font-family:Microsoft Yahei;background:#ffffff">
<div style="width:100%;height:45px;line-height:45px;text-align:center;background:#ebebeb;color:#7c7c7c;">
	投诉丽江测试客栈
</div>

<div style="width:40%;height:45px;line-height:45px;background:#f5f5f5;margin-top:5px;font-size:13px;color:gray;float:left;">
	&nbsp&nbsp事件简单描述：
</div>
<div style="width:60%;height:45px;line-height:45px;background:#f5f5f5;margin-top:5px;font-size:13px;color:#495568;float:left;text-align:right;">
	卫生不达标&nbsp&nbsp
</div>

<div style="width:40%;height:45px;line-height:45px;background:#f5f5f5;margin-top:5px;font-size:13px;color:gray;float:left;">
	&nbsp&nbsp事件发生地点：
</div>
<div style="width:60%;height:45px;line-height:45px;background:#f5f5f5;margin-top:5px;font-size:13px;color:#495568;float:left;text-align:right;">
	丽江古城&nbsp&nbsp
</div>

<div style="width:40%;height:45px;line-height:45px;background:#f5f5f5;margin-top:5px;font-size:13px;color:gray;float:left;">
	&nbsp&nbsp联系电话：
</div>
<div style="width:60%;height:45px;line-height:45px;background:#f5f5f5;margin-top:5px;font-size:13px;color:#495568;float:left;text-align:right;">
	137123456&nbsp&nbsp
</div>

<div style="width:40%;height:45px;line-height:45px;background:#f5f5f5;margin-top:5px;font-size:13px;color:gray;float:left;">
	&nbsp&nbsp联系人：
</div>
<div style="width:60%;height:45px;line-height:45px;background:#f5f5f5;margin-top:5px;font-size:13px;color:#495568;float:left;text-align:right;">
	杨先生&nbsp&nbsp
</div>

<div style="position:fixed;bottom:0px;width:100%;height:45px;line-height:45px;background:#cd2f2b;text-align:center;float:left;color:#fff;margin-top:10px;cursor:pointer;" onclick="nextStep();">下一步</div>

<script>
function nextStep() {
	if(confirm("是否要为该投诉事件添加照片")) {
		location.href = "complaintQRCode.html";
	} else {
		location.href = "complaintQRCode.html";
	}
}

</script>
</body>
</html>