<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../css/tree_menu.css"/>
<link rel="stylesheet" type="text/css" href="../css/main.css" />
<link rel="stylesheet" type="text/css" href="../css/toolbar.css" />

<script type="text/javascript" src="http://121.199.38.132/jquery-1.8.3.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/jpagelst-0.0.1.js"></script>
<script type="text/javascript" src="../js/jloading-0.0.1.js"></script>
<script type="text/javascript" src="../js/jselect.lst-0.0.1.js" charset="utf-8"></script>
<script type="text/javascript" src="../js/jform-0.0.1.js" charset="utf-8"></script>
<script type="text/javascript" src="../js/tree_menu.js"></script>
<script type="text/javascript" src="../js/jagreement.js"></script>
<script type="text/javascript" src="../js/jpicture.lst-0.0.1.js"></script>
<script type="text/javascript" src="../js/jnon.blank.checker.js"></script>
<script type="text/javascript" src="../js/jtree.dialog.js"></script>
<script type="text/javascript" src="../js/jtree-0.0.1.js"></script>

</head>
<body>
<div id="userInfoBlock" class="title_block"></div>
<img src="http://121.199.38.132/images/main/shadow.png" style="width:100%;height:5px;"/>

<div style="margin:0 auto;width:95%;font-size:14px;">
	<div id="treeMenu"  class="menu_tree_block"></div>
	<div style="width:1px;background:#eeeeee;float:left;margin-top:10px;"></div>
	
	<div class="right_block">
		<div id="rightTitleBlock" class="right_title_block"></div>
		
		<form id="merchantAuthInfo">
		
		<div style="width:100%;height:45px;float:left;">
			<label class="label_1">企业名称:</label>
			<input id="cpyName" name="cpyName" class="text_input_1" style="width:50%"></input>
		</div>
		<div style="width:600px;height:20px;line-height:20px;float:left;font-size:13px;color:gray;margin-top:5px;text-align:left;padding-left:80px;">
			需与当地政府颁发的商业许可证或营业执照上的企业名称完全一致，信息审核成功后，企业名称不可修改
		</div>
		
		<div style="width:100%;height:45px;float:left;">
			<label class="label_1">归属区域:</label>
			<div id="areaCodeDiv" class="select_lst_text_div" style="width:50%;margin-left:5px;" ></div>
		</div>
		<div style="width:500px;height:20px;line-height:20px;float:left;font-size:13px;color:gray;margin-top:5px;text-align:left;padding-left:80px;">
			需与当地政府颁发的商业许可证或营业执照上的归属区域一致，归属区域不可修改
		</div>
		<div style="width:100%;height:45px;float:left;">
			<label class="label_1">营业执照号:</label>
			<input id="licenseNo" name="licenseNo" class="text_input_1" style="width:50%"></input>
		</div>
		<div style="width:500px;height:20px;line-height:20px;float:left;font-size:13px;color:gray;margin-top:5px;text-align:left;padding-left:80px;">
			请输入15位营业执照注册号或者18位统一社会信用号
		</div>
		<div style="width:50%;;height:45px;float:left;">
			<label class="label_1">所属行业:</label>
			<div id="industryCodeDiv" class="select_lst_text_div" style="width:50%;margin-left:5px;" ></div>
		</div>
		<div style="width:50%;;height:45px;float:left;">
			<label class="label_1">所属类别:</label>
			<div id="categoryCodeDiv" class="select_lst_text_div" style="width:50%;margin-left:5px;" ></div>
		</div>
		<div style="width:100%;height:45px;float:left;">
			<label class="label_1">法人证件号:</label>
			<input id="IDCardNo" name="IDCardNo" class="text_input_1" style="width:50%"></input>
		</div>
		
		<div style="width:50%;height:45px;float:left;">
			<label class="label_1">姓名:</label>
			<input id="cpyLegalName" name="cpyLegalName" class="text_input_1" style="width:70%"></input>
		</div>
		<div style="width:50%;height:45px;float:left;">
			<label class="label_1">电话号码:</label>
			<input id="svrTel" name="svrTel" class="text_input_1" style="width:70%"></input>
		</div>
		
		<div style="width:30%;height:45px;float:left;">
			<label class="label_1" style="width:100px;text-align:center;">身份证照片正面:</label>
			<label style="background:url(../images/id_01.png);width:40px;height:40px;background-size:40px 40px;float:left;margin-top:20px;cursor:pointer;" onclick="showImageFile('idCardFront', '身份证照片正面', idCardFrontUrl)"></label>
		</div>
		<div style="width:30%;height:45px;float:left;">
			<label class="label_1" style="width:100px;text-align:center;">身份证照片反面:</label>
			<label style="background:url(../images/id_01.png);width:40px;height:40px;background-size:40px 40px;float:left;margin-top:20px;cursor:pointer;" onclick="showImageFile('idCardBack', '身份证照片反面', idCardBackUrl)"></label>
		</div>
		<div style="width:30%;height:45px;float:left;">
			<label class="label_1" style="width:100px;text-align:center;">营业执照:</label>
			<label style="background:url(../images/id_02.png);width:35px;height:35px;background-size:35px 35px;float:left;margin-top:20px;cursor:pointer;" onclick="showImageFile('licenseNo', '营业执照', licenseNoUrl)"></label>
		</div>
		
		<div style="width:100%;height:45px;float:left;">
			<label class="label_1">开户行:</label>
			<input class="text_input_1" style="width:50%"></input>
		</div>
		<div style="width:100%;height:45px;float:left;">
			<label class="label_1">对公账户:</label>
			<input id="clrAct" name="clrAct" class="text_input_1" style="width:50%"></input>
		</div>
		
		</form>
		
		<div style="clear:both;"></div>
		
		<div style="width:180px;;height:40px;margin:0 auto;background:#43adf0;line-height:40px;color:#fff;font-size:15px;border-radius:5px;cursor:pointer;margin-top:20px;" onclick="doMerchantAuth()">提交审核</div>
		
		
	</div>
</div>
<script>
processUserInfo({level:0, treeNodeId:"merchantAuthMgmt"});
var jLoading = new JLoading();
var jAgreement = new JAgreement("jAgreement");
var jNonBlankChecker = new JNonBlankChecker();

var areaCodeInput = new JInput({id:"areaCodeDiv", customFunction:showAreaTreeDailog});
var industryInput = new JInput({id:"industryCodeDiv", customFunction:function(){jSelectLstDialog.showSelectLst({title:"请选择商户所属行业", caller:"industryInput", loadingInfos:queryIndustyInfos})}, deleteFunction:function(){categoryInput.clearInput();}});
var categoryInput = new JInput({id:"categoryCodeDiv", customFunction:function(){jSelectLstDialog.showSelectLst({title:"请选择商户所属类别", caller:"categoryInput", loadingInfos:queryCategoryInfos})}});

var jSelectLstDialog = new JSelectLstDialog({id:"jselectLst", btnTxt:"确定", btnFunction:dialogSelected, isSimpleSelect:true});


var jTreeDailog = new JTreeDailog({id:"areaTree", btnTxt:"确定", btnFunction:areaTreeSelected, rootLabel:"云南省", rootId:"53", rootLevel:2});



var idCardFrontUrl, idCardBackUrl, licenseNoUrl;
var idCardFrontFullPath, idCardBackFullPath, licenseNoFullPath;

var jPictureLst = new JPictureLst({id:"showPictureLst", uploadFile: function(pictureId, fileData) {
	processFileSliceData({fileData: fileData
	, showUploadingProgress: function(total, current) {jPictureLst.showUploadingProgress(pictureId, total, current)}
	, uploadError: function() {jPictureLst.uploadError(pictureId)}
	, uploadSuccess: function(relativeFilePath, fileFullPath) {
		jPictureLst.uploadSuccess(pictureId);
		if(pictureId == "idCardFront") {
			idCardFrontUrl = relativeFilePath;
			idCardFrontFullPath = fileFullPath;
		} else if(pictureId == "idCardBack") {
			idCardBackUrl = relativeFilePath;
			idCardBackFullPath = fileFullPath;
		} else if(pictureId == "licenseNo") {
			licenseNoUrl = relativeFilePath;
			licenseNoFullPath = fileFullPath;
		}
	}});
}});

function showImageFile(imageId, imageName, imageUrl) {
	jPictureLst.showPictureLst({entityId: getUserInfo().recId, pictureLst: [{id: imageId, url:imageUrl, name:imageName}]});
}
function showAreaTreeDailog() {
	jTreeDailog.showTreeDailog();
}
function showIndustryCodeDailog() {
	
}

function areaTreeSelected(rtnObj) {
	areaCodeInput.finishValueSelect({value:rtnObj.value, txt: rtnObj.txt});
}



function doMerchantAuth() {
	jAgreement.showAgreement({agree: function() {
		var merchanteData = serializeForm("merchantAuthInfo");
		merchanteData += "&idCardFrontUrl=" + idCardFrontUrl;
		merchanteData += "&idCardFrontFullPath=" + idCardFrontFullPath;
		merchanteData += "&idCardBackUrl=" + idCardBackUrl;
		merchanteData += "&idCardBackFullPath=" + idCardBackFullPath;
		merchanteData += "&licenseNoUrl=" + licenseNoUrl;
		merchanteData += "&licenseNoFullPath=" + licenseNoFullPath;
		merchanteData += "&recId=" + getUserInfo().merchantId;
		
		jLoading.showLoading();
		$.ajax({
			type: "POST",
			//url:getSvrAddress() + "v1/merchantUser/merchantAuth.action",
			url:"http://localhost:8080/v1/merchantUser/merchantAuth.action",
			data:merchanteData,
			dataType:"json",
			success: function(data) {
				jLoading.hideLoading();
				if(data.isSuccess) {
					alert("申请诚信商户成功");
					location.href = "main.html";
				} else {
					alert(data.message);
				}
			}
		});
	}});
}

function queryIndustyInfos(page, rows) {
	var data = "page=" + page + "&rows=" + rows;
	var url = getSvrAddress() + "queryIndustyInfos.action?" + data;
	$.ajax({
		type: "GET",
		url:url,
		dataType:"json",
		success: function(data) {
			jSelectLstDialog.finishLoadLstInfo({titles:["行业名称", "行业编码"], records:data.rtnObj
			, keys:["name", "code"], idKey:"code", txtKey:"name"});
		}
    });
}
function queryCategoryInfos(page, rows) {
	var industryCode = industryInput.getJInputValue();
	if(industryCode) {
		var data = "page=" + page + "&rows=" + rows + "&industryCode=" + industryCode;
		var url = getSvrAddress() + "queryCategoryInfos.action?" + data;
		$.ajax({
			type: "GET",
			url:url,
			dataType:"json",
			success: function(data) {
				jSelectLstDialog.finishLoadLstInfo({titles:["类别名称", "类别编码"], records:data.rtnObj
				, keys:["name", "code"], idKey:"code", txtKey:"name"});
			}
		});
	} else {
		jSelectLstDialog.hideSelectLst();
		alert("请先选择行业类别");
	}
}

function dialogSelected(rtnObj) {
	if(rtnObj.caller == "industryInput") {
		industryInput.finishValueSelect(rtnObj);
		categoryInput.clearInput();
	} else if(rtnObj.caller == "categoryInput") {
		categoryInput.finishValueSelect(rtnObj);
	}
}

</script>
</body>
</html>