<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body style="padding:0px;margin:0;width:100%;height:auto;font-family:Microsoft Yahei;background:#222222">
<div style="width:100%;height:45px;line-height:45px;text-align:center;background:#393a3f;color:#fff;">
	丽江测试客栈
</div>
<div style="background:url(../images/more.png);background-size:20px 20px;float:right;margin-top:-30px;margin-right:10px;width:20px;height:20px;"></div>
<img src="../images/top.jpg" width="100%" height="200px;">
<div style="width:100%;height:55px;background:#333333;">
	<div style="width:24%;height:55px;line-height:45px;float:left;">
		<div style="width:100%;height:25px;line-height:25px;font-size:14px;text-align:center;color:#fff;margin-top:3px;">85</div>
		<div style="width:100%;height:20px;line-height:20px;font-size:12px;text-align:center;color:#7e7e7e;">信用评分</div>
	</div>
	<div style="height:30px;width:1px;background:#737373;float:left;margin-top:10px;"></div>
	<div style="width:24%;height:55px;line-height:55px;float:left;">
		<div style="width:100%;height:25px;line-height:25px;font-size:14px;text-align:center;color:#fff;margin-top:3px;">80</div>
		<div style="width:100%;height:20px;line-height:20px;font-size:12px;text-align:center;color:#7e7e7e;">政府评分</div>
	</div>
	<div style="height:30px;width:1px;background:#737373;float:left;margin-top:10px;"></div>
	<div style="width:24%;height:55px;line-height:55px;float:left;">
		<div style="width:100%;height:25px;line-height:25px;font-size:14px;text-align:center;color:#fff;margin-top:3px;">75</div>
		<div style="width:100%;height:20px;line-height:20px;font-size:12px;text-align:center;color:#7e7e7e;">携程评分</div>
	</div>
	<div style="height:30px;width:1px;background:#737373;float:left;margin-top:10px;"></div>
	<div style="width:24%;height:55px;line-height:55px;float:left;">
		<div style="width:100%;height:25px;line-height:25px;font-size:14px;text-align:center;color:#fff;margin-top:3px;">83</div>
		<div style="width:100%;height:20px;line-height:20px;font-size:12px;text-align:center;color:#7e7e7e;">艺龙评分</div>
	</div>
</div>
<div style="width:100%;height:140px;background:#222222;float:left;font-size:11px;color:#fff;background:#333333;margin-top:5px;">
	<br/>【纳西风情】客栈由老板娘亲自设计，将传统纳西风格与现代相融合，家具都是纳西木刻工艺制作。
	<br/><br/>【亲子酒店】坐卧茶室休息区，可观享院内小景；观景房内远处青山连绵，纳西村庄错落，是举家出游的温馨居所。
	<br/><br/>【浪漫情侣】浪漫的蜜月房内轻纱红幔，床品柔软，还有超大圆形浴缸，可以共度甜蜜二人世界。
</div>

<div style="width:100%;height:45px;background:#333333;margin-top:5px;float:left;">
	<img src="../images/position.png" width="22px;" height="22px;" style="margin-left:10px;margin-top:10px;float:left;"></img>
	<div style="height:45px;line-height:45px;color:#fff;float:left;font-size:12px;margin-left:5px;">酒店位置:</div>
	<div style="width:60%;height:45px;line-height:45px;color:#fff;float:left;font-size:12px;text-align:left;margin-left:5px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-left:5px;">束河古镇东康村六组17号 ，近四方街近四方街近四方街近四方街</div>
</div>
<div style="width:100%;height:45px;background:#333333;margin-top:5px;float:left;">
	<img src="../images/auth.png" width="22px;" height="22px;" style="margin-left:10px;margin-top:10px;float:left;"></img>
	<div style="height:45px;line-height:45px;color:#fff;float:left;font-size:12px;margin-left:5px;">客栈星级:</div>
	<div style="width:60%;height:45px;line-height:45px;color:#fff;float:left;font-size:12px;text-align:left;margin-left:5px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-left:5px;">三星</div>
</div>
<div style="width:100%;height:45px;background:#333333;margin-top:5px;float:left;">
	<img src="../images/agreement.png" width="22px;" height="22px;" style="margin-left:10px;margin-top:10px;float:left;"></img>
	<div style="height:45px;line-height:45px;color:#fff;float:left;font-size:12px;margin-left:5px;">行业承诺:</div>
	<div style="width:60%;height:45px;line-height:45px;color:#fff;float:left;font-size:12px;text-align:left;margin-left:5px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-left:5px;">签署</div>
</div>

<script>


</script>
</body>
</html>